bin/deployer.phar
config/environment.php

web/.user.ini
web/content/cache
web/content/upgrade
web/content/uploads
web/content/wfcache
web/content/wflogs
web/wordpress

web/content/plugins/akismet
web/content/plugins/cloudflare
web/content/plugins/google-authenticator
web/content/plugins/google-authenticator-per-user-prompt
web/content/plugins/login-security-solution
web/content/plugins/quick-navigation-interface
web/content/plugins/subscribe-to-comments
web/content/plugins/vaultpress
web/content/plugins/wordfence
web/content/plugins/wp-super-cache

web/content/themes/simone
