# BEGIN Regolith
# Some major and otherwise reputable hosts have this enabled by default, even though it's a privacy/security risk
Options -Indexes

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# Force HTTPS everywhere
	RewriteCond %{SERVER_PORT} 80
	RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R,L]
</IfModule>

<IfModule mod_headers.c>
	Header set X-Frame-Options "SAMEORIGIN"
	#Header set Strict-Transport-Security "max-age=15552000"
</IfModule>
# END Regolith


# BEGIN regolith.localhost
# END regolith.localhost


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# Wordfence WAF
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF
